
.cart-column {
    display: flex; 
    align-items: center; 
    margin-right: 1.5em; 
    font-size: 1.1rem;
}


.cart-row {
    display: flex; 
    justify-content: space-between; 
    font-weight: bold; 
    margin-bottom: 1rem; 
    border-bottom: 2px solid #ffa042; 
    padding-bottom: 0.5rem; 
}

.cart-item,
.cart-price,
.cart-quantity {
    flex: 1; 
    color: #fff;
}

.cart-item-image {
    width: 75px; 
    height: auto; 
    border-radius: 10px; 
}

.cart-item-title{
    padding-left: 10px;
    color: #fff;
}


.buttons {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    margin-top: 2rem; 
}


.btn-empty, .btn-total, .btn-shop {
    background: #ffa042; 
    color: #fff;
    border: none; 
    border-radius: 5px;
    padding: 0.5rem 1rem; 
    cursor: pointer; 
    transition: background 0.3s, transform 0.3s; 
    margin: 0.5em; 
}


.btn-total {
    font-weight: bold; 
}


.btn-empty:hover, .btn-total:hover, .btn-shop:hover {
    transform: scale(1.);
}


.cart-quantity {
    display: flex; 
    align-items: center; 
    color: #fff;
}


.btn-minus, .btn-plus {
    background: #ffa042; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 0.3rem 0.6rem; 
    cursor: pointer; 
    transition: background 0.3s, transform 0.3s; 
    min-width: 30px; 
}

.btn-minus{
    margin-right: 30px;
}


.quantity-buttons {
    display: flex; 
    align-items: center; 
    width: 100%; 
    justify-content: space-between; 
}


@media (max-width: 768px) and (max-width: 1199px) {
   .cart-column .quantity {
    margin-bottom: 0;
    font-weight: bold; 
    }

    .cart-item-image{
        width: 50px;
    }
    
    .cart-row {
        flex-direction: column; 
        align-items: center; 
    }
    
    .cart-column {
        margin-right: 0; 
        margin-bottom: 0.5em; 
    }
    
    .remove-button{
        margin-top: 1em;
    }
    .cart-price{
        margin: .5em;
    }

    .btn-plus {
        margin-left: 25px;
    }
}

@media (min-width: 1200px) {
    .cart-row {
        border-bottom: 4px solid #ffa042; 
        padding-bottom: 1rem; 
    }

    .cart-item-title {
        font-size: 1.3rem; 
    }

    .cart-price {
        font-size: 1.2rem; 
    }

    .btn-minus, .btn-plus {
        padding: 0.5rem 0.8rem; 
        font-size: 1.1rem; 
    }

    .buttons {
        justify-content: space-evenly; 
        margin-top: 3rem;
    }

    .btn-empty, .btn-total, .btn-shop {
        padding: 0.8rem 1.5rem;
        font-size: 1.1rem;
    }
}
